body, html {
  height: 100%;
  background: #f8f9fa;
  margin: 0;
  font-family: Arial, sans-serif;
}

.forgot-password-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  background: #fff;
}

.form-message {
  margin-top: 10px;
}
